
$font-primary: 'Open Sans', sans-serif;
$font-pretty: 'Playfair Display', serif;

$font-primary-regular: 300;
$font-primary-semibold: 400;

$font-pretty-regular: 500;
$font-pretty-semibold: 700;

$white: #fff;
$gray-primary: #dee2e6;
$gray-dark: #8d93ab;

$first-column-width: 35%;