<table>
  <thead>{{ sheet.title }}</thead>
  <tbody>
    <tr>
      <th>Label</th>
      <th>Monthly</th>
      <th>Yearly</th>
    </tr>

    <tr *ngFor="let item of sheet.items">
      <td>{{ item.label }}</td>
      <td>{{ item.monthly }}</td>
      <td>{{ item.yearly }}</td>
      <td>
        <button>Delete</button>
        <button>Move Up</button>
        <button>Move Down</button>
      </td>
    </tr>

    <tr>
      <td>Subtotal</td>
      <td id="js-monthly-subtotal">{{ calcSubtotal(BudgetProperties.monthly) }}</td>
      <td id="js-yearly-subtotal">{{ calcSubtotal(BudgetProperties.yearly) }}</td>
    </tr>
    
    <tr>
      <button>Add row</button>
    </tr>
  </tbody>
</table>