@import 'variables.scss';

.wrapper {
  margin: 0 auto;
  max-width: 90%;
}

.page-title {
  font-family: $font-pretty;
}

.category {
  margin-bottom: 4rem;
}

.category__title {
  margin-bottom: 1rem;
  font-family: $font-pretty;
  font-size: 1.75rem;
}

.budget-charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
}
