<table>
  <thead>{{ sheet.title }}</thead>
  <tbody>
    <tr>
      <th>Label</th>
      <th>Monthly</th>
      <th>Yearly</th>
    </tr>

    <tr *ngFor="let item of sheet.items">
      <td>{{ item.label }}</td>
      <td>{{ item.monthly }}</td>
      <td>{{ item.yearly }}</td>
      <td>
        <button (click)="deleteItem(item.id)">Delete</button>
        <!-- <button>Move Up</button>
        <button>Move Down</button> -->
      </td>
    </tr>

    <tr>
      <td>Subtotal</td>
      <td id="js-monthly-subtotal">{{ calcSubtotal(BudgetProperties.monthly) }}</td>
      <td id="js-yearly-subtotal">{{ calcSubtotal(BudgetProperties.yearly) }}</td>
    </tr>
    
  </tbody>
</table>

<div>
  <ng-container *ngIf="!isAddingItem">
    <button id="js-add-item" (click)="showAddItemForm()">Add row</button>
  </ng-container>
  <ng-container *ngIf="isAddingItem">
    <form [formGroup]="newItemForm" (submit)="addNewItem()">
      <input formControlName="label" type="text" placeholder="Label">
      <input formControlName="monthly" type="number" placeholder="Monthly amount">
      <input formControlName="yearly" type="number" placeholder="Yearly amount">
      <button type="submit" [disabled]="!newItemForm.valid">Add New Row</button>
    </form>
  </ng-container>
</div>