<section class="sheet-container">
  <div class="sheet-header">
    <h3 class="sheet-title">{{ sheet.title }}</h3> 
    <button class="btn-delete-sheet" (click)="deleteSheet()" title="Delete">
      <span class="fas fa-trash"></span>
    </button>
  </div>

  <hr 
    [style.width]="calcPercentage(calcSubtotal(BudgetProperties.yearly)) + '%'"
    [style.backgroundColor]="sheet.color">

  <table>

    <thead>
      <tr>
        <th>Label</th>
        <th>Monthly</th>
        <th>Yearly</th>
        <th>%</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let item of sheet.items">
        <td>{{ item.label }}</td>
        <td>{{ item.monthly }}</td>
        <td>{{ item.yearly }}</td>
        <td>{{ calcPercentage(item.yearly) }}%</td>
        <td>
          <button class="btn-delete-item" title="Delete this item" (click)="deleteItem(item.id)">
            <span class="fas fa-trash"></span>
          </button>
        </td>
      </tr>

      <tr>
        <td colspan="5" class="add-row-container">
          <button class="btn-add-row" id="js-add-item" (click)="showAddItemForm()">
            <ng-container *ngIf="!isAddingItem">+</ng-container>
            <ng-container *ngIf="isAddingItem">-</ng-container>
          </button>

          <ng-container *ngIf="isAddingItem">
            <form class="form-add-item" [formGroup]="newItemForm" (submit)="addNewItem()">
                <input formControlName="label" type="text" placeholder="Label">
                <input formControlName="monthly" type="number" placeholder="10">
                <input formControlName="yearly" type="number" placeholder="120">
                <button 
                  type="submit" 
                  [disabled]="!newItemForm.valid"
                  [style.backgroundColor]="sheet.color">Add</button>
            </form>
          </ng-container>
        </td>
      </tr>
    </tbody>    

    <tfoot>
      <tr>
        <td>Subtotal</td>
        <td id="js-monthly-subtotal">{{ calcSubtotal(BudgetProperties.monthly) }}</td>
        <td id="js-yearly-subtotal">{{ calcSubtotal(BudgetProperties.yearly) }}</td>
        <td colspan="2">{{ calcPercentage(calcSubtotal(BudgetProperties.yearly)) }}%</td>
      </tr>
    </tfoot>
  </table>
  
</section>