<section class="sheet">
  <div class="sheet__header">
    <h3 class="sheet__title">{{ sheet.title }}</h3> 
    <button class="delete-sheet__btn" (click)="deleteSheet()" title="Delete">
      <span class="fas fa-trash"></span>
    </button>
  </div>

  <hr 
    [style.width]="calcPercentage(sheet.yearlySubtotal, totalYearlyIncome) + '%'"
    [style.backgroundColor]="sheet.color">

  <div class="sheet__table">
    <table>
  
      <thead>
        <tr>
          <th>Label</th>
          <th>Monthly</th>
          <th>Yearly</th>
          <th>%</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let item of sheet.items">
          <td>{{ item.label }}</td>
          <td>{{ item.monthly }}</td>
          <td>{{ item.yearly }}</td>
          <td>{{ calcPercentage(item.yearly, totalYearlyIncome) }}%</td>
          <td>
            <button class="delete-item__btn" title="Delete this item" (click)="deleteItem(item.id)">
              <span class="fas fa-trash"></span>
            </button>
          </td>
        </tr>
  
        <tr>
          <td colspan="5" class="add-row">
            <button class="add-row__btn" id="js-add-item" (click)="showAddItemForm()">
              <ng-container *ngIf="!isAddingItem">+</ng-container>
              <ng-container *ngIf="isAddingItem">-</ng-container>
            </button>
  
            <ng-container *ngIf="isAddingItem">
              <form class="add-item__form" [formGroup]="newItemForm" (submit)="addNewItem()">
                  <input formControlName="label" type="text" placeholder="Label">
                  <input formControlName="monthly" type="number" placeholder="10">
                  <input formControlName="yearly" type="number" placeholder="120">
                  <button 
                    type="submit" 
                    [disabled]="!newItemForm.valid"
                    [style.backgroundColor]="sheet.color">Add</button>
              </form>
            </ng-container>
          </td>
        </tr>
      </tbody>    
  
      <tfoot>
        <tr>
          <td>Subtotal</td>
          <td id="js-monthly-subtotal">{{ sheet.monthlySubtotal }}</td>
          <td id="js-yearly-subtotal">{{ sheet.yearlySubtotal }}</td>
          <td colspan="2">{{ calcPercentage(sheet.yearlySubtotal, totalYearlyIncome) }}%</td>
        </tr>
      </tfoot>
    </table>
  </div>
  
</section>